@font-face {
  font-family: 'RF Dewi';
  src: local("RFDewi-Regular"), url("../fonts/RFDewi-Regular.woff2") format("woff2"), url("../fonts/RFDewi-Regular.woff") format("woff"), url("../fonts/RFDewi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src: local("RF Dewi Expanded Bold"), local("RFDewiExpanded-Bold"), url("../fonts/RFDewiExpanded-Bold.woff2") format("woff2"), url("../fonts/RFDewiExpanded-Bold.woff") format("woff"), url("../fonts/RFDewiExpanded-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Dewi';
  src: local("RF Dewi Bold"), local("RFDewi-Bold"), url("../fonts/RFDewi-Bold.woff2") format("woff2"), url("../fonts/RFDewi-Bold.woff") format("woff"), url("../fonts/RFDewi-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RF Dewi Expanded';
  src: local("RFDewiExpanded-Regular"), url("../fonts/RFDewiExpanded-Regular.woff2") format("woff2"), url("../fonts/RFDewiExpanded-Regular.woff") format("woff"), url("../fonts/RFDewiExpanded-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #000;
}

.ibg-custom-1 {
  background-size: 60%;
  background-position: right center;
}

.ibg > img, .ibg .ibg__img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: #050505;
  position: relative;
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  min-height: 100vh;
}

body > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
          flex: 1 1 100%;
}

.scroll-hidden {
  overflow-y: hidden;
}

html {
  font-size: 1rem;
}

body {
  font-size: 1rem;
  line-height: 1.7;
  font-family: "RF Dewi", Arial, Helvetica, sans-serif;
}

p {
  max-width: 37.5em;
}

h1, h2, h3, h4, p, input, .input {
  margin-bottom: 1.875rem;
}

h1:not(.save-margin):last-child, h2:not(.save-margin):last-child, h3:not(.save-margin):last-child, h4:not(.save-margin):last-child, p:not(.save-margin):last-child, input:not(.save-margin):last-child, .input:not(.save-margin):last-child {
  margin-bottom: 0;
}

.h1 {
  font-family: "RF Dewi Expanded", "RF Dewi", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.20833;
}

.h2 {
  font-family: "RF Dewi Expanded", "RF Dewi", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1875;
}

.h3 {
  font-family: "RF Dewi Expanded", "RF Dewi", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.18182;
}

.h4 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a.like-text, .like-text a {
  color: inherit;
}

a.like-text:hover, .like-text a:hover {
  color: inherit;
}

.link-icon {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.link-icon:hover {
  opacity: 0.6;
}

.btn {
  display: inline-block;
  line-height: 1.25;
  font-weight: 400;
  cursor: pointer;
  padding: 1.125em 1.875em;
  text-align: center;
  min-width: 6.25em;
}

.btn--full {
  color: #fff;
  background: #00B9D2;
  -webkit-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;
}

.btn--full:hover {
  color: #fff;
  box-shadow: inset 0px 4px 4px rgba(0, 63, 109, 0.6);
}

.btn--line {
  color: #fff;
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #fff;
  -webkit-transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out;
  transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out;
}

.btn--line:hover {
  color: #fff;
  box-shadow: inset 0 0 0 1px transparent;
  background: #00B9D2;
}

.btn--big-min-width {
  min-width: 15.625em;
}

.btn--one-line {
  padding: 1em;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
  -webkit-transition: color 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btn--one-line:hover {
  color: #00B9D2;
  box-shadow: inset 0 -1px 0 rgba(0, 185, 210, 0.5);
}

.btn-icon {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  background: none;
  border-radius: 50%;
  position: relative;
  width: 42px;
}

.btn-icon::before {
  content: '';
  display: block;
  padding-top: 100%;
  width: 0;
}

.btn-icon img, .btn-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: -webkit-calc(100% - 16px);
  max-width: calc(100% - 16px);
  max-height: -webkit-calc(100% - 20px);
  max-height: calc(100% - 20px);
}

.btn-icon--phone {
  background-color: #00B9D2;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.btn-icon--phone:hover {
  background-color: rgba(0, 185, 210, 0.7);
}

.label {
  display: block;
  padding-bottom: 1.3em;
}

.input {
  display: block;
  width: 100%;
  color: #fff;
  border: 1px solid #666666;
  padding: 0 1.125em;
  font-size: inherit;
  position: relative;
  min-height: 3.5em;
}

.input input, .input textarea {
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 1;
}

.input input {
  padding: 0 1.125em;
}

.input textarea {
  padding: 0.75em 1.125em;
}

input.input {
  height: 3.5em;
}

.input.invalid-input {
  border-color: #F31D1D;
}

textarea.input {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  height: 3.5em;
}

textarea.input, .input textarea {
  resize: none;
}

.input + .label {
  margin-top: 2em;
}

.textarea--auto-height {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.textarea--auto-height__text {
  opacity: 0;
  z-index: -1;
  white-space: pre-wrap;
}

.textarea--auto-height textarea {
  overflow: hidden;
}

.radio-input__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 1.875rem;
  cursor: pointer;
}

.radio-input__label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.radio-input__label--line {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  margin-right: 3rem;
  margin-bottom: 0.5em;
}

.radio-input__label--line:last-child {
  margin-right: 0;
}

.radio-input__label--line-half {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  width: 50%;
}

.radio-input__label--line-half:nth-child(2n) {
  padding-right: 14px;
}

.radio-input__label--line-half:nth-child(2n + 1) {
  padding-left: 14px;
}

.radio-input__check {
  min-width: 16px;
  min-height: 16px;
  width: 1em;
  height: 1em;
  border: 1px solid #FFFFFF;
  margin-right: 0.5em;
  border-radius: 50%;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
          order: -1;
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  padding: 4px;
}

.radio-input__check:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.radio-input:checked ~ .radio-input__check:before, .radio-input:checked + .radio-input__check:before {
  background: #00B9D2;
}

.radio-input__content {
  margin-top: 1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
          flex: 1 1 100%;
  margin-bottom: 1rem;
}

.radio-input span {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
          flex: 1 1 0%;
}

.checkbox-input__label.invalid-input .checkbox-input__check, .radio-input__label.invalid-input .radio-input__check {
  border-color: #F31D1D;
}

.checkbox-input__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 1.875rem;
  cursor: pointer;
}

.checkbox-input__label input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox-input__label--line {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  margin-right: 3rem;
  margin-bottom: 0.5em;
}

.checkbox-input__label--line:last-child {
  margin-right: 0;
}

.checkbox-input__check {
  min-width: 16px;
  min-height: 16px;
  width: 1em;
  height: 1em;
  border: 1px solid #FFFFFF;
  margin-right: 0.5em;
  position: relative;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
          order: -1;
}

.checkbox-input__check::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/check.svg") no-repeat center center #00B9D2;
  background-size: contain;
  opacity: 0;
}

.checkbox-input:checked ~ .checkbox-input__check, .checkbox-input:checked + .checkbox-input__check {
  border-color: #00B9D2;
}

.checkbox-input:checked ~ .checkbox-input__check::before, .checkbox-input:checked + .checkbox-input__check::before {
  opacity: 1;
}

mark, .text-accent {
  color: #00B9D2;
}

.text-color {
  color: #fff;
}

.text-gray {
  color: #666666;
}

.tt-none {
  text-transform: none;
}

.text-center-content {
  text-align: center;
}

.text-center-content p {
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-align-self: flex-start;
          align-self: flex-start;
  margin-bottom: auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.header__button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  padding-right: 25px;
  margin-right: 15px;
  z-index: 100;
}

.header__burger {
  position: absolute;
  width: 18px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  right: 0;
}

.header__burger span {
  display: block;
  height: 1px;
  position: absolute;
  width: 100%;
  top: 5px;
  left: 0;
  background-color: #fff;
  -webkit-transition: opacity 0.2s ease-out, background-color 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, background-color 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, background-color 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, background-color 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.header__burger span:first-child {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  top: 0;
}

.header__burger span:last-child {
  top: auto;
  bottom: 0;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(0.6);
          transform: scaleX(0.6);
}

.header__button.active .header__burger span {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  background-color: #00B9D2;
}

.header__button.active .header__burger span:first-child {
  -webkit-transform: rotate(45deg) translate(1px, -2px);
          transform: rotate(45deg) translate(1px, -2px);
  opacity: 1;
}

.header__button.active .header__burger span:last-child {
  -webkit-transform: rotate(-45deg) scaleX(1) translate(1px, 2px);
          transform: rotate(-45deg) scaleX(1) translate(1px, 2px);
  opacity: 1;
}

.header__call {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
  transition: opacity 0.2s ease-out, background-color 0.2s ease-out;
}

.header__menu {
  background: #050505;
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transform: translate(-100px, 0px) scale(1);
          transform: translate(-100px, 0px) scale(1);
  pointer-events: none;
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.2s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.2s ease-out, transform 0.3s ease-out;
  transition: opacity 0.2s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.header__menu__outer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  top: 70px;
  max-height: -webkit-calc(100% - 70px);
  max-height: calc(100% - 70px);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
}

.header__menu__wrapper {
  padding: 0px 15px 50px;
  margin: auto;
  max-width: 100%;
}

.header__menu__wrapper > * {
  margin-bottom: 20px;
}

.header__menu__wrapper > *:last-child {
  margin-bottom: 0;
}

.header__menu__list {
  list-style: none;
  padding-left: 0px;
  margin-left: -25px;
  margin-right: -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.header__menu__list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.header__menu__list > li > a, .header__menu__list > li > span {
  font-family: "RF Dewi Expanded", "RF Dewi", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1875;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  position: relative;
  z-index: 4;
  padding: 5px 0 5px 25px;
}

.header__menu__list > li > a::before, .header__menu__list > li > span::before {
  content: '';
  width: 10px;
  height: 11px;
  background: url("../img/menu-mark.svg") no-repeat center center;
  background-size: contain;
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.header__menu__list > li {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  padding-right: 15px;
}

.header__menu__sublist {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 100%;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  margin: 0 -0.3125em 0 -webkit-calc(-5em/16 - 1px);
  margin: 0 -0.3125em 0 calc(-5em/16 - 1px);
  width: 100vw;
  min-height: 100%;
  pointer-events: none;
}

.header__menu__sublist a {
  padding: 0.3125em;
  margin: 0 0.3125em;
  color: #666666;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  white-space: nowrap;
}

.header__menu__sublist a:hover {
  color: #fff;
}

.header.active-menu .header__menu {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  pointer-events: all;
}

.header.active-menu .header__call {
  opacity: 0;
}

.touch-browser .header__menu__list > li {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.touch-browser .header__menu__list > li.active > a, .touch-browser .header__menu__list > li.active > span {
  color: #00B9D2;
}

.touch-browser .header__menu__list > li.active > a::before, .touch-browser .header__menu__list > li.active > span::before {
  opacity: 1;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.touch-browser .header__menu__list > li.active .header__menu__sublist {
  opacity: 1;
  pointer-events: all;
}

.courser-browser .header__menu__list > li:hover > a, .courser-browser .header__menu__list > li:hover > span {
  color: #00B9D2;
}

.courser-browser .header__menu__list > li:hover > a::before, .courser-browser .header__menu__list > li:hover > span::before {
  opacity: 1;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.courser-browser .header__menu__list > li:hover .header__menu__sublist {
  opacity: 1;
  pointer-events: all;
}

.touch-browser .header__menu__sublist {
  bottom: 0;
  top: auto;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  left: 15px;
  min-height: auto;
}

.courser {
  width: 36.66667vw;
  height: 24.25926vh;
  background: #00B9D2;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.1s;
  transition: opacity 0.2s ease-out, -webkit-transform 0.1s;
  transition: opacity 0.2s ease-out, transform 0.1s;
  transition: opacity 0.2s ease-out, transform 0.1s, -webkit-transform 0.1s;
}

.courser__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.courser__wrapper.visible .courser {
  opacity: 0.5;
}

.section {
  max-width: 100%;
}

.section--padding {
  padding-top: 70px;
  padding-bottom: 50px;
}

.section--first-screen {
  -webkit-align-self: flex-start;
          align-self: flex-start;
}

.section--first-screen.ibg {
  margin-bottom: auto;
}

.grid-works__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  padding: 15px 15px;
}

.grid-works__nav__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  margin: 0 -webkit-calc(-10px - 3.5vw);
  margin: 0 calc(-10px - 3.5vw);
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  max-width: -webkit-calc(524px + 7vw);
  max-width: calc(524px + 7vw);
}

.grid-works__nav__item {
  white-space: nowrap;
  padding: 12px 10px;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  margin: 5px 3.5vw;
}

.grid-works__nav__item:hover, .grid-works__nav__item.active {
  color: #00B9D2;
}

.grid-works__more__btn {
  width: 100%;
}

.grid-works__wrapper, .grid-works__slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.grid-works:not(.loaded-slider) .grid-works__slide:not(:first-child) {
  display: none;
}

.grid-works.loaded-slider .grid-works__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  pointer-events: none;
}

.grid-works.loaded-slider .grid-works__slide.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity 0.4s 0.2s;
  transition: opacity 0.4s 0.2s;
}

.grid-works__wrapper {
  max-width: 514px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  position: relative;
}

.grid-works__wrapper.filtered .grid-works__item {
  opacity: 0 !important;
  -webkit-transition: opacity 0.4s, left 0s 0.5s, top 0s 0.5s, -webkit-transform 0s 0.5s !important;
  transition: opacity 0.4s, left 0s 0.5s, top 0s 0.5s, -webkit-transform 0s 0.5s !important;
  transition: opacity 0.4s, transform 0s 0.5s, left 0s 0.5s, top 0s 0.5s !important;
  transition: opacity 0.4s, transform 0s 0.5s, left 0s 0.5s, top 0s 0.5s, -webkit-transform 0s 0.5s !important;
}

.grid-works__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  color: #fff;
  position: relative;
  overflow: hidden;
  will-change: transform;
  -webkit-transition: opacity 0.4s, left 0s 0s, top 0s 0s, -webkit-transform 0s 0s !important;
  transition: opacity 0.4s, left 0s 0s, top 0s 0s, -webkit-transform 0s 0s !important;
  transition: opacity 0.4s, transform 0s 0s, left 0s 0s, top 0s 0s !important;
  transition: opacity 0.4s, transform 0s 0s, left 0s 0s, top 0s 0s, -webkit-transform 0s 0s !important;
}

.grid-works__item:hover {
  color: #fff;
}

.grid-works__item:hover::after {
  opacity: 1;
}

.grid-works__item::before {
  content: '';
  padding-top: 56.25%;
  width: 0;
  display: block;
}

.grid-works__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.grid-works__item:hover .grid-works__inner {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.grid-works__slide .grid-works__item:nth-child(n + 7) {
  display: none;
}

.grid-works__inner {
  padding: 1.25rem 1.5625rem;
  position: relative;
  z-index: 1;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.grid-works__inner .h3 {
  margin: 0;
}

.grid-works__tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}

.grid-works__tag {
  white-space: nowrap;
  text-transform: lowercase;
}

.grid-works__tag::after {
  content: '/';
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.grid-works__tag:last-child::after {
  content: '';
  display: none;
}

.touch-browser .grid-works__item::after {
  opacity: 1;
}

.touch-browser .grid-works__inner {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.grid-feature__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -20px -15px;
}

.grid-feature__item {
  padding: 30px 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
          flex: 0 1 100%;
}

.grid-feature__item:hover .grid-feature__title {
  color: #00B9D2;
}

.grid-feature__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 8px;
}

.grid-feature__title > * {
  margin-bottom: 0;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.grid-feature__title::before {
  content: '<';
  background-size: contain;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
          order: 1;
  line-height: 1;
  color: #00B9D2;
  font-size: 16px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: 30px;
}

.grid-feature__title::after {
  content: '';
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
          order: 1;
  background: #00B9D2;
  margin-left: -5px;
  margin-right: 10px;
}

.info-company__wrapper {
  margin: -15px -20px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.info-company__item {
  padding: 15px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.info-company__item img, .info-company__item svg {
  width: 1em;
  margin-right: 0.5em;
  margin-top: 0.25em;
}

.info-company__text {
  position: relative;
  text-align: left;
}

.info-company__time__work, .info-company__time__not-work {
  position: relative;
  padding-left: 12px;
}

.info-company__time__work:before, .info-company__time__not-work:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 50%;
  left: 0;
  margin-top: -3px;
}

.info-company__time__work::before {
  background: #1DF34C;
}

.info-company__time__not-work {
  display: none;
}

.info-company__time__not-work::before {
  background: #F31D1D;
}

.info-company__time--not-work .info-company__time__work {
  display: none;
}

.info-company__time--not-work .info-company__time__not-work {
  display: block;
}

.info-company.info-company--col .info-company__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch;
}

.info-company.info-company--col .info-company__item {
  max-width: none;
}

.slides-form {
  opacity: 0;
  pointer-events: none;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.slides-form .h2 {
  text-align: center;
}

.slides-form.loaded {
  opacity: 1;
  pointer-events: all;
}

.slides-form__inner {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.slides-form__outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
}

.slides-form__slide {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.slides-form__slide:first-child {
  -webkit-align-self: center;
          align-self: center;
}

.slides-form__slide.active {
  opacity: 1;
}

.slides-form__proggress {
  text-align: center;
  margin-bottom: 1.875rem;
}

.slides-form__proggress__line {
  height: 1px;
  background: #666666;
  width: 100%;
  max-width: 570px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.375rem;
}

.slides-form__proggress__bar {
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  background: #00B9D2;
  width: 25%;
}

.slides-form__btns {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
}

.slides-form__btns .btn {
  margin: 5px 10px 5px;
}

.input + .slides-form__btns {
  padding-top: 30px;
}

.socials-links {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.socials-links__wrapper {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -4px -10px 0;
  position: relative;
}

.socials-links__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 0.3125em;
  margin: 0.25em 0.3125em;
}

.socials-links__item img, .socials-links__item svg {
  width: 1.5em;
}

.socials-links--right .socials-links__wrapper {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.socials-links--line {
  padding-bottom: 0.25em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.socials-links--vertical {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.socials-links--vertical .socials-links__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.socials-links--line.socials-links--vertical {
  border-bottom: 0;
  padding-bottom: 0;
}

.socials-links--line.socials-links--vertical::before, .socials-links--line.socials-links--vertical::after {
  content: '';
  width: 1px;
  min-height: 1.25em;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
          flex: 1 0 auto;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
}

.socials-links--line.socials-links--vertical::before {
  margin-bottom: 0.4375em;
}

.socials-links--line.socials-links--vertical::after {
  margin-top: 0.4375em;
}

.footer {
  -webkit-align-self: flex-end;
          align-self: flex-end;
  margin-top: auto;
  padding-top: 70px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  text-align: center;
}

.footer__wrapper {
  margin: -15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  text-align: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  width: auto;
}

.footer__item {
  padding: 15px;
}

.footer__info {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
          order: 1;
  width: 100%;
}

.footer__info .info-company__wrapper {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
}

.footer__links .socials-links {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

@media (min-width: 330px) {
  .btn--big-min-width {
    min-width: 16.875em;
  }
}

@media (min-width: 576px) {
  body {
    font-size: 1rem;
  }
  .h1 {
    font-size: 2.25rem;
  }
  .grid-works__nav {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
  }
  .grid-works__nav__wrapper {
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
  }
  .info-company__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
  }
  .info-company__item {
    max-width: 50%;
  }
  .socials-links--right-sm .socials-links__wrapper {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
  }
  .footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    text-align: left;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
  }
  .footer__title {
    margin-right: auto;
  }
  .footer__links {
    margin-left: auto;
  }
  .footer__links .socials-links {
    width: auto;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 2.5rem;
  }
  .h2 {
    font-size: 1.75rem;
  }
  .h3 {
    font-size: 1.375rem;
  }
  .header__menu__outer {
    top: 0px;
    max-height: 100%;
  }
  .header__menu__wrapper {
    padding: 70px 15px 50px;
  }
  .header__menu__wrapper > * {
    margin-bottom: 30px;
  }
  .header__menu__list > li > a, .header__menu__list > li > span {
    font-size: 1.75rem;
  }
  .section--first-screen p {
    max-width: 31.625em;
    width: 60%;
  }
  .section--first-screen .socials-links {
    position: absolute;
    top: -33px;
    bottom: -13px;
    right: 1.3125rem;
  }
  .section--first-screen .container {
    position: relative;
    min-height: 200px;
    padding-right: 4.125rem;
  }
  .grid-feature__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .info-company__item {
    max-width: 33.333%;
  }
  .socials-links--line.socials-links--vertical-md {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .socials-links--line.socials-links--vertical-md::before, .socials-links--line.socials-links--vertical-md::after {
    content: '';
    width: 1px;
    min-height: 1.25em;
    height: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
            flex: 1 0 auto;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
  }
  .socials-links--line.socials-links--vertical-md::before {
    margin-bottom: 0.4375em;
  }
  .socials-links--line.socials-links--vertical-md::after {
    margin-top: 0.4375em;
  }
  .socials-links--vertical-md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }
  .socials-links--vertical-md .socials-links__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 790px) {
  .grid-works__nav__wrapper {
    max-width: none;
  }
  .grid-works__wrapper {
    max-width: none;
  }
  .grid-works__item {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .h1 {
    font-size: 2.75rem;
  }
  .h4 {
    font-size: 1.25rem;
  }
  .header__menu__wrapper > * {
    margin-bottom: 40px;
  }
  .grid-works__wrapper {
    max-width: 920px;
  }
}

@media (min-width: 1200px) {
  .grid-works__wrapper {
    max-width: none;
  }
  .grid-works__item {
    width: 33.333%;
  }
}

@media (min-width: 1250px) {
  .h1 {
    font-size: 3rem;
  }
  .h2 {
    font-size: 2rem;
  }
  .header__menu__wrapper > * {
    margin-bottom: 50px;
  }
  .header__menu__list > li > a, .header__menu__list > li > span {
    font-size: 2rem;
  }
  .footer__wrapper {
    -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
  .footer__info {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
            order: 0;
    width: auto;
  }
  .footer__info .info-company__wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
  }
}

@media (min-width: 1600px) {
  .grid-works__item {
    width: 25%;
  }
  .grid-works__slide .grid-works__item:nth-child(n - 9) {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}

@media (min-width: 1920px) {
  .grid-works__item {
    width: 400px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 25%;
  }
  .grid-works__slide .grid-works__item:nth-child(n + 7) {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
}

@media (max-width: 767.98px) {
  .ibg-md {
    background-image: none !important;
    background-color: transparent !important;
  }
}

/*# sourceMappingURL=maps/style.css.map */
